
<section *ngIf="movie " style="width: 12em" ngClass='big'>

    <div class="img-detail-big">
      <img ngClass='img-big' [src]="getPath(movie.poster_path)" />


      <div ngClass='Statut-big'>
        <p class="name">Status : </p>
        <p class="var">{{getStatus()}}</p>
      </div>
      <div ngClass='time-big'>
        <p class="name">Durée : </p>
        <p class="var">{{getTime()}}</p>
      </div>
      <div ngClass='budget-big'>
        <p class="name">Budget : </p>
        <p class="var">${{getBudget()}}</p>
      </div>
      <div ngClass='recette-big'>
        <p class="name">Recette : </p>
        <p class="var">${{getRecette()}}</p>
      </div>

    </div>

    <div ngClass='body-big'>
      <div style="display: -webkit-inline-box;">
        <h1 ngClass='title-big'>{{getTitle()}}</h1>
        <div ngClass="star-film"  *ngFor="let star of NBStar" >
          <img  src="{{star}}" />
        </div>
      </div>

      <br/>

      <div class="name">Synopsis</div>
      <p ngClass='text-playlist'>{{getSummary()}}</p>
      <img src='/assets/facebook.svg' style="width: 1em"/>
      <img src='/assets/twitter.svg'style="width: 1em"/>
      <img src='/assets/instagram.svg'style="width: 1.2em"/>
      <div ngClass="btn-modal">
        <input type="button" class="btn-big" value="Ajouter à une playlist" (click)="displaymodalAjout()">
        <!--<app-add-playlist ngClass="modal-ajout" *ngIf="modalAjout"></app-add-playlist>-->
        <app-handle-film *ngIf="modalAjout" [movie]="movie" ngClass="modal-ajout"  ></app-handle-film>

      </div>

    </div>

  </section>

