<section  ngClass='petit-general'>

  <section (click)="handleClickMovie(idMovie)" ngClass='petit'>
    <img ngClass='img-petit' [src]="getPath(movie.poster_path)" />

    <div ngClass='body-petit'>
      <h1 ngClass='title-petit'>{{getTitle()}}</h1>
    </div>
  </section>

  <a (click)="displayModalClick()">
    <img *ngIf="!isPlayList" [src]="buttonThreeVertical" ngClass="img-three-points" ng-click="displayModalClick()"/>
  </a>
  <img *ngIf="isPlayList" src='/assets/no-entry.svg' ngClass="img-forbidden" (click)="delMovie()"/>
  <app-handle-playlist *ngIf="displayModalR " [movie]="movie" class="modal-three-point"  ></app-handle-playlist>
</section>
