.petit-general {
  width: 15em;
  display: -webkit-inline-box;
}

.petit-general:hover .img-three-points {
  visibility: visible;
}

.img-three-points {
  width: 2em;
  height: 2em;
  visibility: hidden;
}

.img-forbidden{
  position: relative;
  /* float: right; */
  width: 2.5em;
  height: 2.5em;
  /* padding-right: 1em; */
  right: 1.6em;
  top: -0.8em;
  padding-top: 0;
  margin-top: 0;
}

.petit-playList{
  position: relative;
  width : 10%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.modal-three-point {
  /*background-attachment: initial;*/
  /*background-clip: initial;*/
  /*background-color: transparent;*/
  /*!*background-image: url("/tests/images/DSCF4874_SURVOL.JPG");*!*/
  /*background-origin: initial;*/
  /*background-position: 0 0;*/
  /*background-repeat: no-repeat no-repeat;*/
  position: absolute;
  display: inline-block;
}



.name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}

.petit {
  width: 13em;
  -webkit-box-shadow: 0 10px 49px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 10px 49px -24px rgba(0,0,0,0.75);
  box-shadow: 0 10px 49px -24px rgba(0,0,0,0.75);
  border-radius: 0 0 0 0;
  border: none;
}

.img-petit{
  width : 13em;
}
.body-petit {
  padding: 2px;
  font-size: 1rem;
}

.title-petit {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center ;
  position: center;
  margin-bottom: 0;
  margin-top: 0;
}
.text-petit {
  margin-top: 0;
  color: grey;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}



