/*!*part little definition*!*/

/*.movie-petit {*/
  /*width: 8rem;*/
  /*margin: 10px 10px 10px 10px;*/
  /*-webkit-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);*/
  /*box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);*/
  /*border-radius: 0 0 0 0;*/
  /*border: none;*/
/*}*/

/*.movie-img-petit{*/
  /*width : 8rem;*/
  /*!*height: 8rem;*!*/
  /*!*background-size: cover;*!*/
/*}*/
/*.movie-body-petit {*/
  /*padding: 2px;*/
  /*font-size: 0.8rem;*/
/*}*/

/*.movie-title-petit {*/
  /*font-weight: bold;*/
  /*!*font-size: 2em;*!*/
  /*margin-bottom: 0px;*/
  /*margin-top: 0px;*/
/*}*/
/*.movie-text-petit {*/
  /*margin-top: 0px;*/
  /*color: grey;*/
  /*margin-bottom: 0;*/
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/

/*}*/


/*Partie general pour faire le petit les 2 point*/

.petit-general {
  width: 12em;
  display: -webkit-inline-box;
}

.petit-general:hover .img-three-points {
  /*background-color: black;*/
  visibility: visible;

}

.img-three-points {
  /*display: none;*/
  width: 2em;
  height: 2em;
  visibility: hidden;
}

.medium-general {
  width: 42em;
  display: flex;
}

.medium-general:hover .img-three-points {
  /*background-color: black;*/
  visibility: visible;

}



/*!*part medium definition*!*/

.time-medium {
  /*font-size: 1.5em;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

.medium {
  width: 40rem;
  /*display: block;*/
  /*margin: 10px 10px 10px 10px;*/
  -webkit-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  border-radius: 0 0 0 0;
  border: none;
  display: -webkit-inline-box;
}

.img-medium{
  width : 8rem;
  /*height: 8rem;*/
  /*background-size: cover;*/
}
.body-medium {
  padding: 2px;
  font-size: 1rem;
  width: 30.3rem;
  margin-left: 0.7rem;

}

.title-medium {
  font-weight: bold;
  /*font-size: ;*/
  margin-bottom: 0px;
  margin-top: 0px;
}
.text-medium {
  margin-top: 0px;
  color: grey;
  margin-bottom: 0;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/

}

.medium-button{
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background: none;
  float: right;

}

/*!*part general*!*/
.name {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-block;
}

.var {
  color: grey;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0.2em;
  display: inline-block;
}


/*!*part little definition*!*/

.petit {
  width: 10em;
  /*margin: 10px 10px 10px 10px;*/
  -webkit-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  border-radius: 0 0 0 0;
  border: none;
}

.img-petit{
  width : 10em;
  /*height: 8rem;*/
  /*background-size: cover;*/
}
.body-petit {
  padding: 2px;
  font-size: 0.8rem;
}

.title-petit {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 0px;
}
.text-petit {
  margin-top: 0px;
  color: grey;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}




/*parti big photo*/
.time-big {
  /*font-size: 1.5em;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

.big {
  /*width: 40rem;*/
  /*display: block;*/

  display: -webkit-inline-box;
}

.img-detail-big{
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  border-radius: 0 0 0 0;
  border: none;
}

.img-big{
  width : 20rem;
  /*height: 8rem;*/
  /*background-size: cover;*/
}
.body-big {
  padding-left: 2rem;
  font-size: 3rem;
  width: 80%;
  padding-right: 2rem;
  /*margin-left: 0.7rem;*/

}

.title-big {
  font-weight: bold;
  padding-top: 0.5rem;
  /*font-size: ;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

.text-big {
  margin-top: 0px;
  color: grey;
  margin-bottom: 0;
  font-size: 2rem;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/

}

.img-big ~ * {
  font-size: 1.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.title-big + p {
  padding-top: 3rem;
}

.btn-big{
  width: 10rem;
  height: 3rem;
  text-align: center;
  float: right;

}



/*parti playlist photo*/
.time-playlist {
  /*font-size: 1.5em;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

.playlist {
  width: 30rem;
  /*display: block;*/

  /*display: -webkit-inline-box;*/
}

.img-detail-playlist{
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 49px -24px rgba(0,0,0,0.75);
  border-radius: 0 0 0 0;
  border: none;
  display: -webkit-inline-box;
}

.detail-playlist{
  /*display: inherit;*/
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
}

.img-playlist{
  width : 10rem;
  /*height: 8rem;*/
  /*background-size: cover;*/
}
.body-playlist {
  padding-left: 2rem;
  font-size: 1rem;
  /*width: 80%;*/
  padding-right: 2rem;
  /*margin-left: 0.7rem;*/

}

.title-playlist {
  font-weight: bold;
  padding-top: 0.5rem;
  /*font-size: ;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

.text-playlist {
  margin-top: 0px;
  color: grey;
  margin-bottom: 0;
  font-size: 1rem;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/

}

.img-playlist ~ * {
  font-size: 1.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.title-playlist + p {
  padding-top: 0.5rem;
}

.btn-playlist{
  width: 10rem;
  height: 3rem;
  text-align: center;
  float: right;

}



/*part little mat angular componenet*/

.img-little{
  width: 126%;
  margin-bottom: 0.5rem;
}

.little {
  width : 10%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

}

.title-little {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 0px;
  padding-top: 0px;
}

.content-little{
  /*margin-top: 0px;*/
  color: grey;
  /*margin-bottom: 0;*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*part medium mat angular component*/

.card-medium{
  width: 40%;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  display: -webkit-box;

}

.card-img-medium{
  width: 30%;
  margin-right: 0px;
  padding-left: 0px;

}

.card-body-medium {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

