<div class="container-fluid">
  <div class="row ligne">
    <div class="col-4 col">
      <h2>Durée: </h2>
      <mat-slider
        class="slider"
        thumbLabel
        max="10"
        min="0"
        step="1"
        [(ngModel)]="valueF"
        [displayWith]="formatValue">
      </mat-slider>
    </div>
    <div class="col-4">
      <select class="custom-select form-control" id="select" #listSelected>
        <option *ngFor="let genre of categorie; let i = index" [value]="genre.genre">
          {{genre.genre}}
        </option>
      </select>
    </div>
    <div class="col-4">
      <button class="btn btn-primary" (click)="searchButton(listSelected.value)">Filtrer les résultats</button>
    </div>
  </div>
</div>
