
h2 {
  margin-left: 20%;
  font-size: small;
  display: inline-block;
}
.slider {
  margin-left: 20px;
  display: inline-block;
}
.custom-select {
  margin-top: 5px;
}
.btn {
  margin-top: 5px;

}
#select {
  width: 50%;
}
