<div class="back">
  <div class="container-fluid">
    <div class="row">
      <div class="colonne">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <label for="select">Choisir une playlist</label>
            <select class="custom-select form-control" id="select">
              <option  *ngFor="let playlist of playlists"
                      (value)="playlist.getName()">{{playlist.getName()}}</option>
            </select>
          <button class="btn supprimer" type="submit">Supprimer</button>
          <button class="btn annuler" (click)="onAnnule()">Annuler</button>
        </form>
      </div>
    </div>
  </div>
  </div>
