<div class="container-fluid">
  <div class="row">
    <div class="colonne">
      <!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
        <div class="select">
          <label for="select">Choisir une playlist</label>
          <select class="custom-select form-control" id="select" #listSelected>
            <option  *ngFor="let playlist of playlists; let i = index" [value]="i">
              {{playlist.getName()}}
            </option>
          </select>
        </div>

        <label for="add">Nom de la playlist</label>
        <input class="form-control" type="text" id="add" [(ngModel)]="text">
        <div class="buttons">
          <button class="btn btn-primary ajouter" (click)="onSubmit(listSelected.value)">Ajouter</button>
          <button class="btn annuler" (click)="onAnnule()">Annuler</button>
        </div>
      <!--</form>-->
    </div>
  </div>
</div>
