
<div class='playlistFilm'>

  <div class="left">

    <div class="titlePlaylist">
      <i class="fa fa-play-circle"></i>
      {{titlePlaylist}} ({{numberMovie}} films)
    </div>

    <div [ngClass]="{'firstMovieLeft':firstMovie}">
      <app-film [filmResult]="firstMovie" type="playlist"></app-film>
    </div>

  </div>

  <div class="right">

    <div class="bandeauMoviesUp">
      <div *ngFor="let movie of moviesUp, let i = index">
        <div class="movie">
          <app-film [filmResult]="movie" type="petit"></app-film>
        </div>
      </div>
    </div>

    <div clear="left" class="bandeauMoviesBottom">
      <div *ngFor="let movie of moviesBottom, let i = index">
        <div class="movie">
          <app-film [filmResult]="movie" type="petit"></app-film>
        </div>
      </div>
    </div>

  </div>

</div>
