<div class='playlistFilm'>

  <div class="left">

    <div class="titlePlaylist">
      <i class="fa fa-play-circle"></i>
      {{titlePlaylist}} ({{numberMovie}} films)
    </div>

    <div [ngClass]="{'firstMovieLeft':firstMovie}">
      <app-film [filmResult]="firstMovie" type="playlist"></app-film>
    </div>

  </div>

  <div class="right">
    <div *ngFor="let movie of moviesWithoutFirst, let i = index">
    <div ngClass="bandeauMoviesUp" *ngIf="indexUp(i)">
      <div ngClass="movieUp">
        <app-film [filmResult]="movie" type="petit"></app-film>
      </div>
    </div>

    <div ngClass="bandeauMoviesBottom" *ngIf="indexBottom(i)">
      <div ngClass="movieBottom">
        <app-film [filmResult]="movie" type="petit"></app-film>
      </div>
    </div>
    </div>
  </div>

</div>
