.titlePlaylist {
  text-transform: capitalize;
  font-size: xx-large;
  color: #757070;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.numberMovie {
  text-transform: capitalize;
  font-size: xx-large;
  color: #757070;
  font-family: 'Roboto', sans-serif;
}

.playlistFilmTemp {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.playlistFilm {
  color: #757070;
  margin: 2em 2em 2em 2em;
}

.leftTemp {
  background: #f2f2f2;
  padding: 20px 20px 20px 20px ;
  flex-grow: 0;
}

.affiche-playlistTemp {
  width: 30rem;
}

.rightTemp {
  flex-grow: 1;
}

.bandeauTemp {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.bandeau {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

.movie {
  margin: 100px 50px 0 50px;
  justify-self: center;
}
