<!--<h1>TMDB + Firebase</h1>-->
<!--<nav *ngIf="user">-->
  <!--<label>{{user.displayName}}</label>-->
  <!--<img [src]="user.photoURL" />-->
  <!--<button (click)="logout()">Déconnection</button>-->
  <!--{{user.uid}}-->
<!--</nav>-->
<!--<nav *ngIf="!user">-->
  <!--<button (click)="login()">Connection via Google</button>-->
<!--</nav>-->

<!--<hr/>-->
<!--<pre *ngIf="lists">-->
  <!--{{lists | async | json}}-->
<!--</pre>-->

<!--<hr/>-->
<!--<section *ngIf="movie">-->
  <!--<img [src]="getPath(movie.poster_path)" />-->
  <!--<pre>{{movie | json}}</pre>-->
<!--</section>-->
<!--<section *ngIf="!movie">-->
  <!--Pas encore de films à afficher...-->
<!--</section>-->
<app-bandeau-playlist-film [playlist]="playlist"></app-bandeau-playlist-film>


<!--<app-film id="11" type="medium"></app-film>-->

<!--<app-film id="14" type="big"></app-film>-->

<!--<app-film id="15" type="playlist"></app-film>-->

<!--<app-film id="16" type="medium"></app-film>-->

<!--<app-bandeau-result-search></app-bandeau-result-search>-->

<!--<app-advanced-search></app-advanced-search>-->
