<mat-card>
  <form ngClass="advanced-search" >
    <div ngClass="advanced-search-1">

      <div class ="advanced-search-time" >
        <p>Durée (en heure):</p>
        <mat-slider></mat-slider>
      </div>

      <!--genre-->
      <div ngClass="advanced-search-genre" >
        <p>Genre: </p>
        <mat-select placeholder="" ngClass="advanced-search-genre-sel">
          <mat-option *ngFor="let genre of genres" [value]="genre.value">
            {{genre.viewValue}}
          </mat-option>
        </mat-select>
      </div>

    </div>

    <div ngClass="advanced-search-2">
      <p>Langue: </p>
      <mat-select placeholder="">
        <mat-option *ngFor="let lang of langs" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>

      <p>Annee: </p>
      <mat-select placeholder="Annee:">
        <mat-option *ngFor="let an of ans" [value]="an.value">
          {{an.viewValue}}
        </mat-option>
      </mat-select>
    </div>



    <div ngClass="advanced-search-3">
      <p>Acteur: </p>
      <input matInput placeholder="Acteur" value="Sushi">
      <mat-button-toggle>Recherche</mat-button-toggle>
    </div>

  </form>
</mat-card>

