<!--<div class="back" (mouseleave)="onClose()">-->
<div class="back">
  <div class="container-fluid">
    <div class="row">
      <div class="colonne">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <label for="add">Nom de la playlist</label>
          <input class="form-control" type="text" id="add" name="playlistName" ngModel>
          <button class="btn btn-primary ajouter" type="submit">Ajouter</button>
        </form>
        <button class="btn annuler" (click)="onClose()">Annuler</button>
      </div>
    </div>
  </div>
</div>
