
<div class="container-fluid menu">
  <div class="row">
    <div class="colonne">

      <div class="row">
        <button class="icon cyven" (click)="mouseOut()">
          <i class="fa fa-align-justify logo"></i>
          <h1>Cyven</h1>
        </button>
      </div>

      <div class="row">
        <button class="icon" (click)="handleClickAccueil()">
          <i class="fa fa-home" ></i>
          <h1>Accueil</h1>
        </button>
      </div>

      <div class="row">
        <h1>MES PLAYLISTS</h1>
      </div>

      <app-playlist *ngFor="let playlist of playlists; let i = index"
                    [playlistName]="playlist.getName()"
                    [index]="i"
                    (click)="handleClickPlaylist(playlist.getName())">
      </app-playlist>

      <div class="row">
        <h1>GERER PLAYLISTS</h1>
      </div>

      <div class="row">
        <button class="icon" (click)="handleAdd()">
          <i class="fa fa-plus-circle"></i>
          <h1>Créer une playlist</h1>
        </button>
      </div>

      <!--<div class="row">-->
        <!--<button class="icon" (click)="handleDel()"><i class="fa fa-minus-circle"></i><h1>Supprimer une playlist</h1></button>-->
      <!--</div>-->

      <app-add-playlist (addStatut)="addClose($event)" class="addPopUp" *ngIf="add"></app-add-playlist>
      <!--<app-remove-playlist (delStatut)="delClose($event)" class="removePopUp" *ngIf="remove"></app-remove-playlist>-->

    </div>

    <div class="filtre" (mouseenter)="mouseOut()">
    </div>

  </div>
</div>

