.menu {
  position: fixed;
  top: 0;
  z-index: 3;
}
h1 {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  padding-top: 9px;
  font-size: medium;
  color: rgb(91, 91, 91);
}
.icon {
  border: none;
  color: rgb(91, 91, 91);
  background-color: white;
}
.cyven {
  height: 57px;
  padding-bottom: 30px;
}
.logo {
  padding-left: 28px;
  padding-top: 20px;
}
.colonne {
  -webkit-box-shadow: 15px 0 20px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 15px 0 20px -8px rgba(0,0,0,0.55);
  box-shadow: 15px 0 20px -8px rgba(0,0,0,0.55);
  min-height: 100vh;
  background-color: white;
  min-width: 212px;
  padding-left: 15px;
  transition-property: width;
  transition-duration: 1s;
}
.filtre {
  background-color: black;
  opacity: 0.6;
  width: calc(100% - 212px);
  min-width: calc(100% - 212px);
  z-index: 0;
}

button:focus {
  outline:0;
}
button:hover {
  background-color: rgb(209, 209, 209);
}

button {
  text-align: left;
  min-width: 212px;
  margin-right: auto;
}
.addPopUp {
  z-index: 2;
  position: absolute;
  top: 22%;
  left: 200px
}
.removePopUp {
  z-index: 2;
  position: absolute;
  top: 22%;
  left: 200px;
}
#select {
  margin: 0 10px 0 10px;
}

.img-forbidden {
  height: 3em;
  width: 3em;
  display: inline-block;
}
