

<h3 (click)="setEstAffichable()">Films {{nomBandeau}} <i  *ngIf="!estAffichable" class="fa fa-angle-right"></i>
                                                      <i  *ngIf="estAffichable"  class="fa fa-angle-down "></i>
</h3>


<div *ngIf="estBandeauPopulaire()" >
  <div [hidden]="!estAffichable" class="inline-block"*ngFor="let film of populaires">
    <app-little-film  [filmResult]="film" ></app-little-film>
  </div>
</div>

<div *ngIf="estBandeauProchainement()" >
  <div [hidden]="!estAffichable" class="inline-block" *ngFor="let film of prochainement">
    <app-little-film  [filmResult]="film" ></app-little-film>
  </div>
</div>
<br>
